<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunseaiot.rbac.mapper.PermissionMapper">
    <resultMap id="BaseResultMap" type="com.sunseaiot.rbac.model.Permission">
        <id column="permission_id" jdbcType="INTEGER" property="permissionId"/>
        <result column="operation" jdbcType="VARCHAR" property="operation"/>
        <association property="resources" column="resource_id" fetchType="lazy" select="com.sunseaiot.rbac.mapper.ResourceMapper.selectByPrimaryKey"/>
    </resultMap>
    <sql id="Base_Column_List">
        permission_id, operation, resource_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permission
        where permission_id = #{permissionId,jdbcType=INTEGER}
    </select>

    <select id="selectByRoleId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select p.permission_id, p.operation, p.resource_id
        from permission p
        join role_permission rp
        on p.permission_id = rp.permission_id
        where rp.role_id = #{roleId,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from permission
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="String">
    insert into permission ( operation, resource_id)
    values (#{operation,jdbcType=VARCHAR}, #{resourceId,jdbcType=INTEGER})
  </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.sunseaiot.rbac.model.Permission">
        update permission
        <set>
            <if test="operation != null">
                operation = #{operation,jdbcType=VARCHAR},
            </if>
            <if test="resourceId != null">
                resource_id = #{resourceId,jdbcType=INTEGER},
            </if>
        </set>
        where permission_id = #{permissionId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.sunseaiot.rbac.model.Permission">
    update permission
    set operation = #{operation,jdbcType=VARCHAR},
      resource_id = #{resourceId,jdbcType=INTEGER}
    where permission_id = #{permissionId,jdbcType=INTEGER}
  </update>
</mapper>