<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunseaiot.rbac.mapper.RoleMapper">
    <resultMap id="BaseResultMap" type="com.sunseaiot.rbac.model.Role">
        <id column="role_id" jdbcType="INTEGER" property="roleId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
    </resultMap>

    <resultMap id="RoleMapWithPermission" type="com.sunseaiot.rbac.model.Role" extends="BaseResultMap">
        <collection property="permissions" fetchType="lazy" ofType="com.sunseaiot.rbac.model.Permission">
            <id column="permission_id" jdbcType="INTEGER" property="permissionId"/>
            <result column="operation" jdbcType="VARCHAR" property="operation"/>
            <association property="resources" column="resource_id" fetchType="lazy"
                         select="com.sunseaiot.rbac.mapper.ResourceMapper.selectByPrimaryKey"/>
        </collection>
    </resultMap>

    <resultMap id="RoleMapWithSelect" type="com.sunseaiot.rbac.model.Role" extends="BaseResultMap">
        <collection property="permissions" column="role_id" fetchType="lazy"
                    ofType="com.sunseaiot.rbac.model.Permission"
                    select="com.sunseaiot.rbac.mapper.PermissionMapper.selectByRoleId">
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        role_id, name
    </sql>

    <select id="selectBasicInfo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select role_id, name
        from role
        where role_id = #{roleId,jdbcType=INTEGER}
    </select>

    <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select role_id, name
        from role
        where name = #{name,jdbcType=INTEGER}
    </select>

    <select id="selectWithPermission" parameterType="java.lang.Integer" resultMap="RoleMapWithPermission">
        select r.role_id, r.name, p.permission_id, p.operation, p.resource_id
        from role r
        join role_permission rp
        on r.role_id = rp.role_id
        join permission p
        on p.permission_id = rp.permission_id
        where r.role_id = #{role_id,jdbcType=INTEGER}
    </select>

    <select id="selectDetail" parameterType="java.lang.Integer" resultMap="RoleMapWithSelect">
        select r.role_id, r.name
        from role r
        where r.role_id = #{role_id,jdbcType=INTEGER}
    </select>

    <select id="selectAll" resultMap="RoleMapWithPermission">
        select r.role_id, r.name
        from role r
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from role
        where role_id = #{roleId,jdbcType=INTEGER}
    </delete>

    <insert id="insert" parameterType="com.sunseaiot.rbac.model.Role">
        insert into role (name, permission_id)
        values ( #{name,jdbcType=VARCHAR}, #{permissionId,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="com.sunseaiot.rbac.model.Role">
        update role
        set name = #{name,jdbcType=VARCHAR}
        where role_id = #{roleId,jdbcType=INTEGER}
    </update>
</mapper>